[submodule ".registry"]
	path = .registry
	url = https://github.com/chanzuckerberg/chanzuckerberg.r-universe.dev
	branch = HEAD
[submodule "cellxgene.census"]
	path = cellxgene.census
	url = https://github.com/chanzuckerberg/cellxgene-census
	branch = v1.8.0
	subdir = api/r/cellxgene.census
[submodule "tiledb"]
	path = tiledb
	url = https://github.com/TileDB-Inc/TileDB-R
	branch = 0.22.0
[submodule "tiledbsoma"]
	path = tiledbsoma
	url = https://github.com/single-cell-data/TileDB-SOMA
	branch = 1.6.0
	subdir = apis/r
